@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto'), 
    url(../fonts/Roboto-Thin.woff2),
    url(../fonts/Roboto-Thin.woff),
    url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), 
    url(../fonts/Roboto-Regular.woff2), 
    url(../fonts/Roboto-Regular.woff), 
    url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'),
    url(../fonts/Roboto-Bold.woff2) 
    url(../fonts/Roboto-Bold.woff),
    url(../fonts/Roboto-Bold.ttf);
}