.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#description > p {
    color: red;
}

#description > span {
    color: green;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#description + span {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

span + span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}